$breakpoint-laptop: 1400px;
$breakpoint-tablet: 768px;

.home {
  .hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("../images/hero.webp") center center / cover;
    text-align: center;
    h1 {
      font-size: 3.4rem;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      color: white;
    }
    p {
      font-size: 1.5rem;
      letter-spacing: 0.2rem;
      color: white;
    }

    .family:before {
      content: "";
      animation: animate infinite 8s;
    }

    @keyframes animate {
      0% {
        content: "Whānau";
      }
      20% {
        content: "gia đình";
      }
      40% {
        content: "family";
      }
      60% {
        content: "家庭";
      }
      80% {
        content: "tribe";
      }
      100% {
        content: "Whānau";
      }
    }
  }

  .about-section {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media only screen and (max-width: $breakpoint-laptop) {
      display: flex;
      flex-direction: column;
    }

    padding: 3rem 0;
    .about-part {
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      padding: 4rem;
      @media only screen and (max-width: $breakpoint-laptop) {
        padding: 0;
      }
      .abt-content {
        h3 {
          font-size: 1.3rem;
          margin-bottom: 2rem;
        }
        color: #333;
      }

      .skill-level-img {
        background: url("../images/confusing-min.webp") center center / cover;
      }
      .hub-img {
        background: url("../images/junior-girls.webp") center center / cover;
      }
      .play-img {
        background: url("../images/hugs-min.webp") center center / cover;
      }

      .abt-img {
        height: 700px;
        margin-bottom: 2rem;
      }
      .mask {
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-color: white;
        z-index: 100;
      }
    }
  }

  .teams {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media only screen and (max-width: $breakpoint-laptop) {
      display: flex;
      flex-direction: column;
    }

    .teams-slide {
      position: relative;
      height: 700px;
      top: 0;
    }

    .mens,
    .slide-cover,
    .womens,
    .juniors {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      cursor: pointer;

      h2 {
        position: relative;
        color: white;
        z-index: 2;
        padding: 0.5rem 0rem;
      }
      .teams-slide-hover {
        color: white;
        padding: 0.5rem 2.5rem;
        transition: 0.2s ease;
        background-color: darkblue;
      }
    }

    .mens {
      background: url("../images/mens.webp") center center;
      background-size: cover;
    }
    .womens {
      background: url("../images/womens.webp") center center;
      background-size: cover;
    }
    .slide-cover {
      width: 100%;
      z-index: 1;
      background-color: rgb(5, 5, 20);
      opacity: 0.6;
      transition: 0.3s ease;

      &:hover {
        opacity: 0;
        transition: 0.3s ease;
      }
    }
    .juniors {
      background: url("../images/juniors.webp") center top;
      background-size: cover;
    }
  }

  .socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;

    @media only screen and (max-width: $breakpoint-laptop) {
      display: flex;
      flex-direction: column;
    }

    .socials-slide {
      position: relative;
      height: 700px;
      top: 0;
    }

    .social-training,
    .slide-cover,
    .social-comps {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      cursor: pointer;

      h2 {
        position: relative;
        color: white;
        z-index: 2;
        padding: 0.5rem 0rem;
      }
      .teams-slide-hover {
        color: white;
        padding: 0.5rem 2.5rem;
        transition: 0.2s ease;
        background-color: darkblue;
      }
    }

    .slide-cover {
      width: 100%;
      z-index: 1;
      background-color: rgb(5, 5, 20);
      opacity: 0.6;
      transition: 0.3s ease;

      &:hover {
        opacity: 0;
        transition: 0.3s ease;
      }
    }

    .social-comps {
      background: url("../images/social-comp-min.webp") center center / cover;
    }

    .social-training {
      background: url("../images/social-training-min.webp") center center /
        cover;
    }
  }
}
