$breakpoint-laptop: 1400px;
$breakpoint-tablet: 768px;
@import "~bootstrap/scss/bootstrap";
.App {
  text-align: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Monument Extended";
  line-height: 1.25;
  letter-spacing: 0.2rem;
}

.containerbox {
  width: 1400px;
  margin: auto;
}

.nav-bar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: white;
  z-index: 100;

  .nav-active {
    border-bottom: 2px solid darkblue;
  }

  .nav-link {
    &:hover {
      color: rgb(43, 43, 202);
      cursor: pointer;
    }
  }

  .nav-bar-inner {
    display: flex;
    justify-content: space-around;
    width: 1400px;
    align-items: center;
    height: 100px;
    font-family: "Monument Extended";
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 100;
    margin: auto;

    .abt-dropdown {
      .btn {
        background-color: white;
        color: darkblue;
        border: none;
        text-transform: uppercase;
        font-size: 0.8rem;

        &:focus {
          outline: none;
        }
      }
      .dropdown-item {
        a {
          font-size: 0.8rem;
          color: darkblue;
        }
      }
    }
    a {
      text-decoration: none;
      color: darkblue;
    }
  }
}

.contact-section {
  margin: 5rem auto;
  text-align: center;
  form {
    text-align: left;
    width: 500px;
    margin: auto;
    @media only screen and (max-width: $breakpoint-laptop) {
      width: 80%;
    }
    .form-group {
      display: flex;
      flex-direction: column;
    }

    .submit-btn {
      width: 100%;
    }
  }
}

.footer {
  .footer-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkblue;
    padding: 2rem;
    a {
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .footer-lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fef200;
    padding: 0.5rem;
  }
}

.page {
  padding-top: 100px;
  margin: auto;
  width: 1440px;
  min-height: 90vh;
  @media only screen and (max-width: $breakpoint-laptop) {
    width: 80%;
    font-size: 0.7rem;
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
}

.nav-link {
  @media only screen and (max-width: $breakpoint-laptop) {
    display: none;
  }
}
